.heading_tab_1{
    background-image: url('info_tab_image_1.jpeg');
    
    
}
.heading_tab_2{
    
    background-color: rgb(118, 253, 208,0.2);
    padding-top: 3%;
    padding-bottom: 3%;

}

#text_1{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}