@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat&display=swap');

body {
    margin: 0;
}
h1{ 
	
}
p, a {
    font-family: 'arial';
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-bg, .social, .pagination {
    position: absolute;
}
.main-bg {
    background: url('https://media.licdn.com/dms/image/C4E12AQEl1TIYR0v0sA/article-cover_image-shrink_720_1280/0/1641904093650?e=2147483647&v=beta&t=YjhLBiK30NsZ53e44gp31CwzuMqs51Ao1MquGGY1G2U');
    background-position: 50% 0;
    width: 50%;
    height: 700px;
    right:40;
}
.main-content {
    padding: 2em 4em 2em 3em;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
}

.main-content p {
    font-size: .9em;
    line-height: 1.5em;
    padding-left: 3%;

    &:before {
        content: '';
        position: absolute;
        left: -300;
        height: 3em;
        width: 5%;
        background: #ADD8E6;
        margin-top: .3em;
    }
}
.text{
    text-align :right;
}
.main-bg2 {
    background-position: 50% 0;
    padding-left: 60%;
    padding-top: 10%;
}
@media (min-width: 550px) {
    body {
        font-size: 18px;
    }
    nav ul {
        display: flex;

        li a {
            color: black;
            text-decoration: none;
            display: block;
            padding: .3em .8em;
            font-size: .9em;
        }
    }
    .main-content {
        padding: 2em 4em 2em 3em;
    }

    .main-content p:before {
        width: 25%;
    }
}
